<!doctype html>
<html>

<head>

    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
    <title>Login</title>
</head>

<body style="text-align: center;">
    <img src="logo.png" class="centre" style="width: 25%;height:25%;">
    <br>
    <h2>Hospital Sign In</h2>
    <form method="POST" action="/" style="align-self: center;">
        <input style="border-radius:20px;padding:5px;" type="text" name="username" placeholder="Enter Username :"
            required><br><br>
        <input style="border-radius:20px;padding:5px;" type="password" name="password" placeholder="Enter Password"
            required><br><br>
        <input type="submit" value="Go">
    </form>
    <form method="POST" action="/signup">
        <input type="submit" value="Sign Up">
    </form>
    <br>
    <h2>Shop Sign In</h2>
    <form method="POST" action="/orglogin" style="align-self: center;">
        <input style="border-radius:20px;padding:5px;" type="text" name="name" placeholder="Enter Company Name:"
            required><br><br>
        <input style="border-radius:20px;padding:5px;" type="password" name="password" placeholder="Enter Password"
            required><br><br>
        <input type="submit" value="Go">
    </form>
    <form method="POST" action="/signup/o">
        <input type="submit" value="Organization Sign Up">
    </form>
    <br>


</body>

</html>