<!doctype html>
<html>
    <head>

        <style>
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                 }
            </style>
        <title>Login</title>
        </head>
        <body>
            <centre><img src="logo.png" class="centre" style="width: 25%;height:25%;"></centre>
            <br>
            <form method="POST" action="/" style="align-self: center;">
             <input style="border-radius:20px;padding:5px;" type = "text" name="username" placeholder="Enter Username :" required><br><br>
             <input style="border-radius:20px;padding:5px;" type="password" name="password" placeholder="Enter Password" required><br><br>
             <input type="submit" value="Go">
            </form>
            <br>
            <form  method="POST" action="/signup">
            <input type="submit" value="Sign Up">
            </form>
     
            </body>
    </html>