<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        input[type="text"] {
            border-radius: 10px;
            padding: 5px;
        }

        input[type="password"] {
            border-radius: 10px;
            padding: 5px;
        }

        .jumbotron {
            align-content: center;
            background-color: antiquewhite;
        }
    </style>
    <title>
        Sign Up
    </title>
</head>

<body style="background-color: aliceblue;">
    <p class="jumbotron">Sign your organization up to contribute in this unprecedented crisis.<br>Your contribution can
        help
        us overcome
        the biggest obstacle that heathcare professionals face every single day</p>
    <form method="POST" action="/account/o">
        <label md=2>Name</label><br>
        <input type="text" name="username" md=10 /><br>
        <label>Password</label><br>
        <input type="password" name="password" /><br>
        <label>Address</label><br>
        <input type="text" name="address" /><br>
        <label>City</label><br>
        <input type="text" name="city" /><br>
        <label>Contact</label><br>
        <input type="text" name="contact" /><br>
        <label>Current mask stock</label><br>
        <input type="number" name="products.mask" /><br>
        <label>Current PPE stock</label><br>
        <input type="number" name="products.ppe" /><br>
        <label>Current ventilator stock</label><br>
        <input type="number" name="products.ventilator" /><br>
        <label>Current gown stock</label><br>
        <input type="number" name="products.gown" /><br>
        <input type="submit" value="Create Account">
    </form>
</body>

</html>