<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>
        Sign Up
    </title>
</head>

<body>
    <form method="POST" action="/account/o">
        <label>Name</label><br>
        <input type="text" name="name" /><br>
        <label>Password</label><br>
        <input type="password" name="password" /><br>
        <label>Address</label><br>
        <input type="text" name="address" /><br>
        <label>City</label><br>
        <input type="text" name="city" /><br>
        <label>Contact</label><br>
        <input type="text" name="contact" /><br>
        <label>Current mask stock</label><br>
        <input type="text" name="mask" /><br>
        <label>Current PPE stock</label><br>
        <input type="text" name="ppe" /><br>
        <label>Current ventilator stock</label><br>
        <input type="text" name="ventilator" /><br>
        <label>Current gown stock</label><br>
        <input type="text" name="gown" /><br>
        <input type="submit" value="Create Account">
    </form>
</body>

</html>